<div class="home-banner">
  <div class="home-banner-description">
    <div>
      <h2>Welcome to LRP</h2>
      <p>The acronym LRP stands for Life Resource Planning. It refers to a new and innovative way of approaching the
        way
        you
        manage different aspects of your life. Why is that when it comes to work, tasks and every other personal
        activity
        there are individual software’s and automation to manage all these tasks but nothing when it comes to manage
        your
        own
        life.</p>
      <p>
        Every person has their own list of responsibilities, their own set of personal information, activities and
        requirements. LRP helps you to manage everything about your personal life and integrates and bring together
        each
        nuance
        of your responsibility. LRP opens up a world of possibilities regarding your information, documentation,
        financial
        activities, notifications and reminders and seamlessly integrates all information between your family and
        friends
        and
        finally help you focus on things that really matter.
      </p>
    </div>
    <div class="home-banner-image">
      <img src="/assets/img/banner-tree.png" alt="lrp image">
    </div>
  </div>
  <div class="home-banner-vedio">
    <!-- <video width="450" height="240" controls autoplay> -->
    <video width="450" height="240" controls>
      <source src="http://atozprofile.com/public/images/LRPIntroductionV1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
