/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("~bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/glyphicons-only-bootstrap/css/bootstrap.min.css");
@import url("~@angular/material/prebuilt-themes/indigo-pink.css");

body {
  background-color: #fff;
  margin: 0px;
  height: 100vh;
  font-family: 'Source Serif Pro',
  serif;
}

.h-100 {
  height:100vh !important;
}

label {
  color: #606265;
}

form {
  box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.12),
  0 1px 3px rgba(0, 0, 0, 0.12)
}

table {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
